<% unless comment.archived? %>


<div class="card mb-4 mx-auto ">
  <div class="card-header">
    <%= comment.commenter %>
  </div>
  <div class="card-body">
    <p class="card-text"><%= comment.body %></p>
    <%= link_to "Delete Comment", [comment.article, comment],class:"btn btn-primary", data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </div>
</div>


  <%
=begin%>
 <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>

  <p>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
  </p> 
<%
=end%>
<% end %>
