
<%= form_with model:Current.user, url:edit_password_path do |form|%>
    <div class="container w-50">
        <h1 class="text-center">Edit Password</h1>

        <% if Current.user.errors.any? %>
            <div class="alert alert-danger">
                <%= Current.user.errors.full_messages.join %>
        
            </div>
        <% end %>

        <div class="mb-3">
            <%= form.label :password, class:"form-label"%>
            <%= form.password_field :password, class:"form-control" %>
        </div>
        <div class="mb-3">
            <%= form.label :password_confirmation, "Confirm password", class:"form-label"%>
            <%= form.password_field  :password_confirmation, class:"form-control" %>
        </div>
        <div class="mb-3">
            <%= form.submit "Update Password", class:"btn btn-primary" %>
        </div>
         
    </div>
<%end%>

